<h1 mat-dialog-title>Password Entry / パスワード入力</h1>
<div mat-dialog-content>
    <p>Please enter your password.</p>
    <p>パスワードを入力してください。</p>

    <form (ngSubmit)="submitCheck()">
        <mat-form-field>
            <mat-label>Password / パスワード</mat-label>
            <input matInput [(ngModel)]="data.password" placeholder="Password / パスワード" name="password-field">
        </mat-form-field>
    </form>
    
    <p *ngIf="error" class="error">Bad Password</p>
</div>
<div mat-dialog-actions>
    <button mat-flat-button (click)="close()">Cancel / キャンセル</button>
    <button mat-flat-button color="primary" (click)="submitCheck()">Submit / 送信</button>
</div>