<!-- <img class="full-page-media" 
    src="./assets/images/cl/cafe_opening.jpg" /> -->

<video class="full-page-media" id="profile-video"
    muted autoplay loop playsinline>
    <source src="./assets/videos/profile.mp4" type="video/mp4" #video>
</video>


<app-subtitle-pane class="section" text="Profile"></app-subtitle-pane>

<div class="container">
    <section>
        <p>
            An alchemist that owns a small potion cafe.
        </p>
        <p>
            Trying to make a comfy place for himself and everyone who comes in.
        </p>
    </section>
</div>


<div class="container">
    <section>
        <p>
            <b>Name: </b> Aeriq
        </p>
        <p>
            <b>Gender: </b> Male
        </p>
        <p>
            <b>Age: </b> {{ age }}
        </p>
        <p>
            <b>Favorite Food: </b> Dumplings
        </p>
    </section>
</div>

