<div id="countdown-timer">
    <ng-container *ngIf="!pastDebut">
        <h2>{{ days }}&nbsp;days</h2>
        <h2>{{ hours }}&nbsp;hours</h2>
        <h2>{{ minutes }}&nbsp;minutes</h2>
        <h2>{{ seconds }}&nbsp;seconds</h2>
    </ng-container>
    <div *ngIf="pastDebut">
        <h1>Debut Time!</h1>
        <h2>View it live on <a href="https://www.twitch.tv/aeriqu" rel="noopener noreferrer" target="_blank">Twitch</a>!</h2>
    </div>
</div>

<div id="countdown-header">
    <h1>Debut</h1>
    <h2>{{ debutDate | date: 'medium' }}</h2>
</div>

<div id="countdown-credit">
    <img id="countdown-logo" src="./assets/images/6m/Aeriqu01.png" />
    <div>
        <p>
            <a href="https://www.twitch.tv/aeriqu" rel="noopener noreferrer" target="_blank">
                <fa-icon [icon]="faTwitch"></fa-icon>
                Aeriqu
            </a>
        </p>
        <p>
            <a href="https://twitter.com/ImAeriq" rel="noopener noreferrer" target="_blank">
                <fa-icon [icon]="faTwitter"></fa-icon>
                ImAeriq
            </a>
        </p>
        <p>
            <a href="https://discord.gg/e9Mj7fw" rel="noopener noreferrer" target="_blank">
                <fa-icon [icon]="faDiscord"></fa-icon>
                ACC
            </a>
        </p>
        <p>
            <a href="https://marshmallow-qa.com/imaeriq" rel="noopener noreferrer" target="_blank">
                <fa-icon [icon]="faQuestion"></fa-icon>
                Marshmallow
            </a>
        </p>
    </div>
</div>