@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    overflow: hidden;

    font-family: 'Yusei Magic', sans-serif !important;
    color: #a19091;
    text-shadow: 0 0 1px #000, 0 0 2px #000;
}