<div class="outer-credit">

    <div class="name">
        <h2>{{ data.person }}</h2>
        <div></div>
    </div>

    <div class="inner-credit">

        <div class="person-info">
            <div class="person">
                <img src="{{ data.icon }}" loading="lazy">
            </div>

            <div class="links">
                <h3>Links</h3>

                <p *ngIf="data.links.home">
                    <a href="{{ data.links.home }}" rel="noopener noreferrer" target="_blank">
                        <fa-icon [icon]="faHome"></fa-icon>&nbsp;Home
                    </a>
                </p>
                <p *ngIf="data.links.twitch">
                    <a href="{{ data.links.twitch }}" rel="noopener noreferrer" target="_blank">
                        <fa-icon [icon]="faTwitch"></fa-icon>&nbsp;Twitch
                    </a>
                </p>
                <p *ngIf="data.links.twitter">
                    <a href="{{ data.links.twitter }}" rel="noopener noreferrer" target="_blank">
                        <fa-icon [icon]="faTwitter"></fa-icon>&nbsp;Twitter
                    </a>
                </p>
                <p *ngIf="data.links.instagram">
                    <a href="{{ data.links.instagram }}" rel="noopener noreferrer" target="_blank">
                        <fa-icon [icon]="faInstagram"></fa-icon>&nbsp;Instagram
                    </a>
                </p>
            </div>
        </div>

        <div class="sections">
            <app-credit-sub-section *ngFor="let section of data.sections" [section]="section"></app-credit-sub-section>
        </div>

    </div>
</div>