.outer-credit {
    max-width: 100%;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    background-color: #1b1c1c;

    .name {
        display: flex;

        h2 {
            font-size: 2em;
            padding: .5em;
    
            border-radius: .2em;
            background-color: #4c4c4c;
        }
    }
}

.inner-credit {
    min-height: 100%;
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;

    img {
        height: 10em;
    }

    .person-info {
        display: inline-flex;
        flex-flow: row wrap;
        flex: 1 1 auto;
        align-items: center;
        margin-right: 3em;

        img {
            border-radius: 50%;
        }
    
        .person {
            padding-right: 2em;

            img {
                height: 11em;
            }
        }
    
        .links {
            text-align: center;

            a {
                display: inline-flex;
            }
        }
    }

    .sections {
        display: inline-flex;
        flex-flow: column wrap;
    }

    @media only screen and (min-width: 768px) {
        flex-wrap: nowrap;

        .person-info {
            flex: 0 0 auto;
        }
    }
}