<!-- <video id="intro-media" muted autoplay loop playsinline>
    <source src="./assets/videos/test.mp4" type="video/mp4" #video>
</video> -->

<img class="full-page-media" src="./assets/images/cl/cafe_opening.jpg" />

<div class="container">
    <section>
        <img src="./assets/images/6m/Aeriqu02.png" id="logo" alt="Aeriqu">
        
    </section>

    <section>
        <p>A comfy, fantasy cafe that's made for Aeriq and you!</p>
    </section>
</div>

<div class="container">
    <section>
        <h2>Media Accounts</h2>
        <p>
            <a href="https://discord.gg/e9Mj7fw" rel="noopener noreferrer" target="_blank">
                <fa-icon [icon]="faDiscord"></fa-icon>
                Discord
            </a>
        </p>
        <p>
            <a href="https://twitter.com/ImAeriq" rel="noopener noreferrer" target="_blank">
                <fa-icon [icon]="faTwitter"></fa-icon>
                Twitter
            </a>
        </p>
        <p>
            <a href="https://www.twitch.tv/aeriqu" rel="noopener noreferrer" target="_blank">
                <fa-icon [icon]="faTwitch"></fa-icon>
                Twitch
            </a>
        </p>
        <p>
            <a href="https://www.youtube.com/channel/UCCly_Gfh2U44H6-ejllSA3A" rel="noopener noreferrer" target="_blank">
                <fa-icon [icon]="faYoutube"></fa-icon>
                YouTube
            </a>
        </p>
        <p>
            <a href="https://marshmallow-qa.com/imaeriq" rel="noopener noreferrer" target="_blank">
                <fa-icon [icon]="faQuestion"></fa-icon>
                Marshmallow
            </a>
        </p>
    </section>
</div>

<div class="container">
    <section>
        <h2>Quick Navigation</h2>
        <p>
            <a (click)="scrollTo('profile')">
                <fa-icon [icon]="faUserCircle"></fa-icon>
                Profile
            </a>
        </p>
        <p>
            <a (click)="scrollTo('credits')">
                <fa-icon [icon]="faPaintBrush"></fa-icon>
                Credits
            </a>
        </p>
    </section>
</div>